body {
  background-image: url('https://www.omori-game.com/img/whitespace/space_parallax.png');
  background-size: 1023px 397px !important;
  animation: space-parallax 32s infinite linear;
  image-rendering: pixelated;
}

@keyframes space-parallax {
  0% {
    background-position-x: 1023px;
  }
  100% {
    background-position-x: 0px;
  }
}

.column {
  > .scrollable {
    background: transparent;
    backdrop-filter: blur(4px);
  }
}

.column-header {
  background: transparent;
  backdrop-filter: blur(4px);
}

.tabs-bar__wrapper {
  background: transparent;
  backdrop-filter: blur(4px);
}

.search__input {
  background: transparent;
  backdrop-filter: blur(4px);
}

.navigation-bar {
  backdrop-filter: blur(4px);
}

.empty-column-indicator {
  background: transparent;
}

.notification__filter-bar {
  backdrop-filter: blur(4px);
}

.link-footer {
  backdrop-filter: blur(4px);
}

.button {
  color: $black;
}

.column-link {
  background: transparent;
}

.getting-started__wrapper {
  background: transparent;
}