body {
  background-image: url('./head-space/images/space_parallax.png');
  background-size: 1023px 397px !important;
  animation: space-parallax 32s infinite linear;
  image-rendering: pixelated;
}

body * {
  image-rendering: auto;
}

@keyframes space-parallax {
  0% {
    background-position-x: 1023px;
  }
  100% {
    background-position-x: 0px;
  }
}

.column {
  > .scrollable {
    background: transparent;
    backdrop-filter: blur(4px);
  }
}

.column-header {
  background: transparent;
  backdrop-filter: blur(4px);
}

.tabs-bar__wrapper {
  background: transparent;
  backdrop-filter: blur(4px);
}

.search__input {
  background: transparent;
  backdrop-filter: blur(4px);
}

.navigation-bar {
  backdrop-filter: blur(4px);
}

.empty-column-indicator {
  background: transparent;
}

.notification__filter-bar {
  backdrop-filter: blur(4px);
}

.link-footer {
  backdrop-filter: blur(4px);
}

.button {
  color: $black;
}

.column-link {
  background: transparent;
}

.getting-started__wrapper {
  background: transparent;
}

.compose-form {
  .autosuggest-textarea__textarea,
  .spoiler-input__input {
    color: $white;
    background: $black;
  }
  .autosuggest-textarea__suggestions {
    color: $white;
    background: $black;
  }
  .compose-form__modifiers {
    color: $white;
    background: $black;
  }
  .compose-form__buttons-wrapper {
    color: $white;
    background: $black;
  }
}

.privacy-dropdown__option {
  &:hover,
  &.active {
    color: $ui-box-color;
    .privacy-dropdown__option__content {
      color: $ui-box-color;

      strong {
        color: $ui-box-color;
      }
    }
  }
}

.privacy-dropdown__option__content {
  color: $ui-box-lighter-color;

  strong {
    color: $ui-box-lighter-color;
  }
}

// .compose-form__poll-wrapper .button.button-secondary,
// .compose-form .autosuggest-textarea__textarea::placeholder,
// .compose-form .spoiler-input__input::placeholder,
// .report-dialog-modal__textarea::placeholder,
.language-dropdown__dropdown__results__item__common-name {
// .compose-form .icon-button {
  color: $ui-box-color;
}

.language-dropdown__dropdown__results__item.active {
  color: $ui-box-color;

  .language-dropdown__dropdown__results__item__common-name {
    color: $ui-box-color;
  }
}