@use 'fonts/omori';
@use 'head-space/variables' with (
  $font-sans-serif: 'omori-jp-font',
  $font-display: 'omori-jp-font',
  $font-monospace: 'omori-jp-font-monospace'
);
@use 'application';
@use 'head-space/diff';
