@import 'fonts/omori';

$font-sans-serif: 'omori-jp-font';
$font-display: 'omori-jp-font';
$font-monospace: 'omori-jp-font-monospace';

@import 'head-space/variables';
@import 'application';
@import 'head-space/diff';
